@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.App {
    background-color: #E1D4C9;
    font-family: Inter;
    padding: 15px 0;
}

.AppWidth {
    width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1360px) {
    .AppWidth {
        width: 688px;
    }
}

@media (max-width: 768px) {
    .AppWidth {
        width: 348px;
    }
}